.carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .carousel 
  {
    background-color: black;
    color: white;
    height: 150px;
    padding-top: 20px;
  }
  .carousel-item
  {
    text-align: center;
  }
  .content
  {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    height: 350px;
  }
  .html
  {
    display: flex;
    flex-direction: column;
    align-items: center;
   margin-left: 50px;
  }
  .js
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
  }
  .resApi
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
  }
  .icon-eye
  {
    background-color: grey;
   width: 100px;
   height: 100px;
   border-radius: 50px;
   font-size: 48px;
   padding-left: 25px;
   padding-top: 10px;
  }
  .icon-bolt{
    background-color: grey;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-size: 48px;
    padding-left: 40px;
    padding-top: 10px;
  }
  .icon-api{
    background-color: grey;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-size: 48px;
    padding-left: 30px;
    padding-top: 10px;
  }
  .footer
  {
    background-color: black;
    color: white;
    height: 100px;
    padding: 30px 150px; 
  }
  #title_1:checked ~ .item_1,
  #title_2:checked ~  .item_2,
  #title_3:checked ~ .item_3{
    opacity: 1;
    z-index: 100;
    transition-delay: 0.3s;
  }